#disqus_thread{
	margin-top:20px;
}

p, form, li {
  font-family: 'Nanum Gothic', serif;
  /*font-size:19px;*/
  line-height: 1.67;
  text-align: justify;
  margin-top:12px;
}

h1, h2, h3, h4, h5{
	margin:20px;
	margin-top:40px;
}

/* footer용 font로 쓰일 클래스는 신규추가 */
.footer-text {
  font-family: 'Jeju Gothic', serif;
  font-size: 16px;
}

blockquote{
	padding:0px;
}

blockquote ul{
	padding-left:40px;
}

blockquote li{
	font-size:16px;
}

img{
  max-width: 100%;
  display: block;
  margin:auto;
}